<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header', title, page)%>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home"><img src="/carrot.png" alt="" width="50" height="50">Usada Constructions</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link <%if (page=='home'){%>active<%}%>" aria-current="page" href="/home">Home</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-link <%if (page=='contact'){%>active<%}%>" aria-current="page" href="#">Contact</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="/usada-logo.png" alt="Usada Constructions">
        <h1 class="display-5 fw-bold">Pekora Time</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Hi, my name is Kyle Stephen Tancio from Ateneo de Davao University taking up BSIT Software Development. I am an aspiring developer. 
                I am also part of the Usada Simps and is the head of the Usada Constructions Firm. We at Usada Constructions promises more pranks and ingenious inventions.
            For more information, you can contact me via email on ksrtancio@addu.edu.ph</p>
        <p class="lead mb-2">Please select your timezone</p>
        <form action="/simps" method="POST">
            <select class="form-select form-select-lg mb-5 mx-auto" aria-label=".form-select-lg example" name="timezone">
                <option selected value="Asia/Singapore">Singapore</option>
                <option value="America/Los_Angeles">Los Angeles</option>
                <option value="Asia/Tokyo">Tokyo</option>
                <option value="Europe/Moscow">Moscow</option>
                <option value="Pacific/Fiji">Fiji</option>
            </select>
            <button type="submit" class="btn btn-primary btn-lg px-4">Time to simp!</button>
        </form>
        </div>
    </div>

    <div class="px-4 py-5 my-5 text-center">
        <p>Contact Me</p>
        <a class="mx-4" href="https://www.facebook.com/KyleTancio"><img src="icons8_facebook_52px.png" alt="Facebook" width="30" height="30"></a>
        <a class="mx-4" href="https://twitter.com/kyletanshu"><img src="icons8_twitter_52px.png" alt="Twitter" width="30" height="30"></a>
        <a class="mx-4" href="https://www.instagram.com/kyletanshu/"><img src="icons8_instagram_52px.png" alt="Instagram" width="30" height="30"></a>
        <a class="mx-4" href="https://github.com/ksrtancio"><img src="icons8_github_52px.png" alt="Github" width="30" height="30"></a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>