<html>
    <%- include('./partials/header', title, page)%>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home">Weather Application</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link <%if (page=='home'){%>active<%}%>" aria-current="page" href="/home">Home</a>
                    </div>
                    <div class="navbar-nav">
                        <a class="nav-link <%if (page=='other'){%>active<%}%>" aria-current="page" href="/other">Other</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container-lg mt-5">
            <div class="card bg-dark text-white mx-auto" style="width: 50rem;">
                <img src="https://i.redd.it/3dgt99qr8ky41.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">Wise words from confusios</h5>
                  <p class="card-text"> <%=affirmation.affirmation%></p>
                  <p class="card-text">API: Affirmation.dev</p>
                </div>
            </div>
        </div>
    </body>
</html>